body {
    background-image: url("dolby.jpg");
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 40px;
}

.about-body {
    margin-top: 20px; margin-bottom: 20px;
}

ul.dropdown-menu li a:hover {
    background-color: lightblue;
}

.jumbotron { 
    background-color: rgb(205, 235, 158); color: black; text-align: center;
}
.main-body-1 {
    margin-bottom: 52px;
}

.outdoorTheatre {
    height: 500px; width: 700px; margin-bottom: 30px;
}

.contact-address-head {
    margin-bottom: 20px;
}

.contact-numbers {
    margin-top: 20px;
}

.dharmaLogo {
    float: left; width: 70px; height: 50px; margin-right: 10px; 
}

.slideShow-button {
    margin-top: 10px; text-align: right;
}

.active-nav { color: white !important;}

#footer-navbar {
    margin-bottom: 0px;
}

.footer-section .navbar-inverse {
background-color: #03283a;
}

.row-2 {
    margin-top: 30px;
}

#display-theatres {
    margin-bottom: 30px;
}

#hide-theatres {
    margin-top: 30px;
}

.col-md-4 {
    margin-bottom: 30px;
}

#signUp-form1, #logIn-dropdown {
    width: 300px; background-color: aquamarine;
}

.form-group label, .form-group .btn { margin-left: 10px;}

#signUp-form1 label, #signUp-form1 input {
    margin-bottom: 3px; color: black
}



